<ul class="list book_list">
    {% for bookEditionLang in toShowBooks %}
        <li class="list__element book_list__book_summary book_summary">
            <img class="book_summary__image"
                    {% if bookEditionLang.bookEdition.imagePath %}
                        src="{{ asset('images/list/' ~ bookEditionLang.bookEdition.imagePath ~ '.jpg') }}"
                    {% else %}
                        src="{{ asset('images/list/empty.jpg') }}"
                    {% endif %}
                 alt="{{ bookEditionLang.title }}"/>
            <div class="book_summary__information">
                <span class="book_summary__information__title"><a
                            href="{{ path('bookEditionLang', {'id': bookEditionLang.id}) }}">{{ bookEditionLang.title }}</a></span>
                <span class="book_summary__information__summary__value">{{ bookEditionLang.summary }}</span>
            </div>
            <div class="book_summary__tags tags">
                {% for tag in bookEditionLang.bookEdition.book.tags %}
                    <span class="tags__tag_name">
                        <a href="{{ path('tag', { 'id': tag.id }) }}">{{ tag.name }}</a>
                    </span>
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>
