{% extends 'base.html.twig' %}
{% block title %}{{ bookEditionLang.title }}{% endblock %}

{% block stylesheets_custom %}{{ encore_entry_link_tags('book_info_styles') }}{% endblock %}
{% block breadcrumbs %}
    <span class="breadcrumbs__string">
    <a href="{{ path('home') }}">Home</a> -
    <a href="{{ path('book', {'id': bookEditionLang.bookEdition.book.id}) }}">Book</a> -
    <a href="{{ path('bookEdition', {'id': bookEditionLang.bookEdition.id}) }}">Book Edition</a> -
    <a href="{{ path('bookEditionLang', {'id': bookEditionLang.id}) }}">{{ bookEditionLang.title }}</a>
</span>
{% endblock %}
{% block actions %}
    <a class="link_to_button button--primary-inverted"
       href="{{ path('createOrUpdateBookEditionLang', {'id': bookEditionLang.id}) }}">Update</a>
    <a class="link_to_button button--alert" href="{{ path('deleteBookEditionLang', {'id': bookEditionLang.id}) }}">Delete</a>
{% endblock %}
{% block body_content %}
    <section class="book_edition_lang_info book_info">
        <img class="book_info__image"
                {% if bookEditionLang.bookEdition.imagePath %}
                    src="{{ asset('images/covers/' ~ bookEditionLang.bookEdition.imagePath ~ '.jpg') }}"
                {% else %}
                    src="{{ asset('images/covers/empty.jpg') }}"
                {% endif %}
             alt="{{ bookEditionLang.title }}"/>
        <article class="book_info__edition internal_info">
            <div class="book_info__edition__editorial">
                <span class="book_info__edition__editorial__label">Editorial: </span>
                <span class="book_info__edition__editorial__value">
                <a href="{{ path('editorial', { 'id': bookEditionLang.bookEdition.editorial.id }) }}">{{ bookEditionLang.bookEdition.editorial.name }}</a>
            </span>
            </div>
            <div class="book_info__edition__edition">
                <span class="book_info__edition__edition__label">Edition: </span>
                <span class="book_info__edition__edition__value">{{ bookEditionLang.bookEdition.edition }}</span>
            </div>
            <div class="book_info__edition__editor">
                <span class="book_info__edition__editor__label">Editor: </span>
                <span class="book_info__edition__editor__value">
                    <a href="{{ path('editor', { 'id': bookEditionLang.bookEdition.editor.id }) }}">{{ bookEditionLang.bookEdition.editor.name }}</a>
                </span>
            </div>
            <div class="book_info__edition__language">
                <span class="book_info__edition__language__label">Language: </span>
                <span class="book_info__edition__language__value">{{ bookEditionLang.language }}</span>
            </div>
            <div class="book_info__edition__summary">
                <span class="book_info__edition__summary__label">Summary: </span>
                <p class="book_info__edition__summary__value">
                    {{ bookEditionLang.summary }}
                </p>
            </div>
        </article>
        <article class="book_other_info internal_info">
            <div class="book_info__tags tags">
                {% for tag in bookEditionLang.bookEdition.book.tags %}
                    <span class="tags__tag_name">
                    <a href="{{ path('tag', { 'id': tag.id }) }}">{{ tag.name }}</a>
                </span>
                {% endfor %}
            </div>
            <div class="book_info__authors">
                <span class="book_info__authors__label">Author: </span>
                {% for author in bookEditionLang.bookEdition.book.authors %}
                    <span class="authors__author_name">
                    <a href="{{ path('author', { 'id': author.id }) }}">{{ author.name }}</a>
                </span>
                {% endfor %}
            </div>
            <div class="book_info__translator">
                <span class="book_info__translator__label">Translator: </span>
                <span class="book_info__translator__value">
                <a href="{{ path('translator', { 'id': bookEditionLang.translator.id }) }}">{{ bookEditionLang.translator.name }}</a>
            </span>
            </div>
        </article>
    </section>
{% endblock %}