{% extends 'base.html.twig' %}
{% block title %}Create a book!{% endblock %}
{% block body_content %}
    <section class="create">
        <form action="{{ path('createOrUpdateBookEditionLang') }}" class="create__form form" method="post">
            <div class="title_section form_section">
                <label for="title">Title</label>
                <input class="input input--text" type="text" id="title" name="_title"
                        {% if bookEditionLang is defined and bookEditionLang != '' %}
                            value="{{ bookEditionLang.title }}"
                        {% endif %}
                       required autofocus/>
            </div>

            <div class="summary_section form_section">
                <label for="summary">Summary</label>
                <textarea class="input input--text" id="summary" name="_summary" required>
                    {% if bookEditionLang is defined and bookEditionLang != '' %}
                        {{ bookEditionLang.summary }}
                    {% endif %}
                </textarea>
            </div>

            <div class="translator_section form_section">
                <label for="translator">Translator</label>
                <select class="select select--single" id="translator" name="_translator" required>
                    <option class="select__option" value="">Select an option</option>
                    {% for translator in translators %}
                        <option class="select__option" value="{{ translator.id }}"
                                {% if bookEditionLang is defined and bookEditionLang != '' %}
                            {% if bookEditionLang.translator.id == translator.id %}selected{% endif %}
                            {% elseif translatorSelected == translator.id %}selected{% endif %}>{{ translator.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="language_section form_section">
                <label for="language">Language</label>
                <select class="select select--single" id="language" name="_language" required>
                    <option class="select__option" value="">Select an option</option>
                    {% for key, value in languages %}
                        <option class="select__option" value="{{ key }}"
                                {% if bookEditionLang is defined and bookEditionLang != '' %}
                            {% if bookEditionLang.language == key %}selected{% endif %}
                            {% elseif languageSelected == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>

            {% if bookEditionId == '' %}
                <div class="edition_section form_section">
                    <label for="edition">Edition</label>
                    <input class="input input--text" type="text" id="edition" name="_edition"
                           {% if edition %}value="{{ edition }}" {% endif %}required/>
                </div>

                <div class="editorial_section form_section">
                    <label for="editorial">Editorial</label>
                    <select class="select select--single" id="editorial" name="_editorial" required>
                        <option class="select__option" value="">Select an option</option>
                        {% for editorial in editorials %}
                            <option class="select__option" value="{{ editorial.id }}"
                                    {% if editorialSelected == editorial.id %}selected{% endif %}>{{ editorial.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="editor_section form_section">
                    <label for="editor">Editor</label>
                    <select class="select select--single" id="editor" name="_editor" required>
                        <option class="select__option" value="">Select an option</option>
                        {% for editor in editors %}
                            <option class="select__option" value="{{ editor.id }}"
                                    {% if editorSelected == editor.id %}selected{% endif %}>{{ editor.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% if bookId == '' and bookEditionId == '' %}
                <div class="tags_section form_section">
                    <label for="tags">Tags</label>
                    <select class="select select--single" id="tags" name="_tags[]" multiple>
                        {% for tag in tags %}
                            <option class="select__option" value="{{ tag.id }}"
                                    {% if tagSelected == tag.id %}selected{% endif %}>{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="author_section form_section">
                    <label for="author">Author</label>
                    <select class="select select--single" id="author" name="_authors[]" multiple required>
                        {% for author in authors %}
                            <option class="select__option" value="{{ author.id }}"
                                    {% if authorSelected == author.id %}selected{% endif %}>{{ author.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            <div class="image_section form_section">
                <label for="image">Image</label>
                <input type="file" id="image" name="_image" accept="image/jpg">
            </div>

            <input type="hidden" name="_create" value="true">
            <input type="hidden" name="_bookId" value="{{ bookId }}">
            <input type="hidden" name="_bookEditionId" value="{{ bookEditionId }}">
            {% if bookEditionLang is defined and bookEditionLang != '' %}
                <input type="hidden" name="_bookEditionLangId" value="{{ bookEditionLang.id }}">
            {% endif %}
            <button class="button button--primary submit" type="submit">Submit</button>
        </form>
    </section>
{% endblock %}